*.g_c
*.g_x
/Generated_Code
/Debug
/.settings
/Documentation
# Static_Code must no be under version control
/Static_Code
# doxy/html must no be under version control because it's generated code
/doxy/html

.cwGeneratedFileSetLog
ProjectInfo.xml
